.my-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-grid{
    display: flex;
    flex-wrap: wrap;
}
.my-square{
    
    border: 1px solid black;
    aspect-ratio: 1 / 1;

}

.green{
    background-color: #7fffd4;
}